*{
    box-sizing: border-box;
    font-weight: 400;
    font-style: normal;
}
:root{
    font-family: "Creepster", serif;
}
html, body{
    
    color: #880808;
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: auto;
}
/* body{
    background: url("./media/timothy-barlin-v6CsrFKOxY4-unsplash.jpg"), url("./media/timothy-barlin-v6CsrFKOxY4-unsplash.jpg");
    background-size: contain;
    background-position:center;
    background-repeat: no-repeat, repeat;
    
} */
body{
    overflow: hidden;
}
.background{
    width: 100%;
    height: auto;
    position: relative;
    /* overflow: auto; */
    /* display: flex;
    align-items: center;
    justify-content: center; */
}
img{
    width: 100%;
    object-position:center;
    object-fit:cover;
}

.home{
    position:fixed;
    top:0;
    left: 0;
    padding: 1%;
}

.clock{
    background: white;
    width: /* 10rem */ 6%;
    height: /* 10rem */4%;
    border-radius: 50%;
    position: absolute;
}
.clock.one {
    top: /* 25% */41.5%;
    left: 44%;
    /* top: 37% ;
    left: 43%; */
    z-index: 1;
    /* transform: translate(-50%, -65%) */
}

.clock.two{
    top: /* 19% */ 39.5%;
    left: 69.5%;
    /* top: 38%;
    left: 61%; */
    z-index: 1; 
}

.clock-face {
    position: relative;
    width: 100%;
    height: 100%;

}
.hand {
    width: 50%;
    height: 50%;
    background: radial-gradient(red, red 30.5%, black 30.5%, black);
    position: absolute;
    top: 50%;
    /* left: 50%; */
    transform: translateY(-50%) rotate(90deg);
    transform-origin: 100% 50%;
    transition: all 0.05s cubic-bezier(0.1, 2.7, 0.58, 1); 
    border-radius: 50%;
}
.second-hand{
    height: 5%;
    border-radius:unset;
    background: #880808;
    opacity:0;
    transition: opacity 0.3s;
}
.digital, p{
    filter: drop-shadow(2px 0px 0 white)
    drop-shadow(0px -2px 0 white)
    drop-shadow(-2px 0px 0 white)
    drop-shadow(0px 2px 0 white)
    ;
}
.digital{
    position: fixed;
    left: 5%;
    bottom: 5%;
    font-size: 4rem;
}

p{
    font-size: 3rem;
    position: fixed;
    left: 5%;
    bottom: 15%;
}

p:nth-of-type(2){
    left: 25%;
    bottom: 0;
}

footer{
    position: fixed;
    top: 0;
    right: 0;
    padding: 1%;
    font-size: 100%;
}
a{
    color: #880808;
}